//fonts


//font-family: 'Lobster', cursive;
//font-family: 'Kreon', serif;
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Carme', sans-serif;
//font-family: 'Lobster Two', cursive;
//font-family: 'Nova Square', cursive;
//font-family: 'Gloria Hallelujah', cursive;
//font-family: 'Rochester', cursive;

@import url(http://fonts.googleapis.com/css?family=Lobster|Kreon:700|Josefin+Sans:400,400italic|Carme|Lobster+Two:400,700,700italic|Rochester|Nova+Square|Marvel:400,700|Gloria+Hallelujah&subset=latin,latin-ext)


// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/form
@import partials/buttons
@import partials/wide_background



//variables are defined here

//base colors
$blue-moderate: #0099CC
$blue-bright: #20C0FF
$blue-navy: #00496c

$yellow: #ffcc33

$green-saved: #59af23

$red-bright: #e50d00
$red-bloody: #A90100
$pink-dark: #ff3452

$gray-light: #eee
$gray-lighter: #fefefe
$gray-dark: #555

$whiteish: rgba(255,255,255,0.7)
$grayish: rgba(10,10,10,0.7)
$white: white


$violet-moderate: rgba(107,86,210,0.3)

$violet-moderate-opaque: rgba(107,86,210,1)

body
  .container
    padding: 20px
    color: $gray-dark
    font-family: Marvel
    font-size: 2.4em
    strong
      font-family: Kreon
    h1,h2,h3
      font-family: Marvel,Helvetica,Arial,Sans-Serif
      color: $gray-light
      text-shadow: 1px 2px 5px $whiteish
      -webkit-transition: all .3s
      -moz-transition: all .3s
      transition: all .3s
    
    h1:hover, h2:hover, h3:hover
      color: $gray-lighter
      -webkit-transition: all .3s
      -moz-transition: all .3s
      transition: all .3s
    h1
      font-size: 60px
    h2
      font-size: 40px
    h3
      font-size: 25px
    
    .cursive
      font-family: Lobster, cursive
    
    .bold
      font-family: Kreon, Helvetica, Arial, sans-serif
    
    .hand
      font-family: Rochester, Georgia, serif
    
    .dark
      color: $gray-dark
      text-shadow: 1px 2px 5px $grayish
    
    .pink
      color: $pink-dark
      text-shadow: 1px 2px 5px $blue-moderate
    
    .title
      z-index: 10

  header, footer, #projects, #photography, #skills, #personal
    border-bottom: 1px solid black
    box-shadow-bottom: 0 0 20px red
    box-shadow: 0 10px 12px rgba(0,0,0,0.5) inset, 0 -12px 12px rgba(200,200,200,0.18) inset, 0 0 300px rgba(0,0,0,1) inset
    width: 100%
  #footer, #projects
    box-shadow: 0 10px 12px rgba(0,0,0,0.5) inset,  0 0 300px $violet-moderate  inset
    h1,h2,h3
      text-shadow: 1px 1px 7px $violet-moderate-opaque
      color: lighten($violet-moderate-opaque, 32%)
    h1:hover,h2:hover,h3:hover
      -webkit-transition: all .3s
      -moz-transition: all .3s
      transition: all .3s
      color: lighten($violet-moderate-opaque, 90%)
  header
    +wide-background('./img/bg-header.gif')
    background-position: 4px 0
    h1
      margin-top: 30px
    ol
      background-color: rgba(255,255,255,0.3)
      list-style-type: none
      margin-left: 30px
      margin-top: 47px
      vertical-align: bottom
      width: 898px
      li
        height: 60px
        line-height: 60px
        padding-left: 15px
        position: relative
        top: -14px
      li:last-child
        height: 59px

  #projects
    +wide-background('./img/bg-body.gif')
    #tagline
      h1
        border-right: 2px dashed $white
        float: left
        letter-spacing: -3px
        padding-bottom: 5px
        width: 450px
      h3
        float: left
        margin-top: 2px
        margin: 10px
        width: 350px
  #skills
    +wide-background('./img/bg-noise.png')
  #personal
    +wide-background('./img/bg-personal.gif')
  #photography
    +wide-background('./img/bg-photography.jpg')
  footer
    +wide-background('./img/bg-footer.jpg')
    padding: 0
    section
      +column(8)
      border-right: 1px dashed $whiteish
      width: 309px
    section.last
      +column(8, true)
      border: 0
      width: 309px
