//fonts


//font-family: 'Lobster', cursive;
//font-family: 'Kreon', serif;
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Carme', sans-serif;
//font-family: 'Lobster Two', cursive;
//font-family: 'Nova Square', cursive;
//font-family: 'Gloria Hallelujah', cursive;
//font-family: 'Rochester', cursive;

@import url(http://fonts.googleapis.com/css?family=Lobster|Kreon:700|Josefin+Sans:400,400italic|Carme|Lobster+Two:400,700,700italic|Rochester|Nova+Square|Marvel:400,700|Gloria+Hallelujah&subset=latin,latin-ext)


// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/form
@import partials/buttons
@import partials/wide_background



//variables are defined here

//base colors
$blue-moderate: #0099CC
$blue-bright: #20C0FF
$blue-navy: #00496c

$yellow: #ffcc33

$green-saved: #59af23

$red-bright: #e50d00
$red-bloody: #A90100
$pink-dark: #ff3452

$gray-light: #eee
$gray-lighter: #fefefe
$gray-dark: #555

$whiteish: rgba(255,255,255,0.7)
$grayish: rgba(10,10,10,0.6)
$white: white





body
  .container
    font-family: Marvel
    font-size: 2.4em
    color: $gray-dark
    strong
      font-family: Kreon
    h1,h2,h3
      font-family: Marvel,Helvetica,Arial,Sans-Serif
      color: $gray-light
      text-shadow: 1px 2px 5px $whiteish
      //-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(200,200,200,0.9)), to(rgba(200,200,200,0.8)))
      //text-shadow: 0 2px 0 #e9e9e9
      //-webkit-transition: all .3s
      //-moz-transition: all .3s
      //transition: all .3s
    
    h1:hover, h2:hover, h3:hover
      //color: $gray-lighter
      //-webkit-mask-image: none
      //-webkit-transition: all .3s
      //-moz-transition: all .3s
      //transition: all .3s
    h1
      font-size: 60px
    h2
      font-size: 40px
    h3
      font-size: 25px
    
    .cursive
      font-family: Lobster, cursive
    
    .bold
      font-family: Kreon, Helvetica, Arial, sans-serif
    
    .hand
      font-family: Rochester, Georgia, serif
    
    .dark
      color: $gray-dark
      text-shadow: 1px 2px 5px $grayish
    
    .pink
      color: $pink-dark
      text-shadow: 1px 2px 5px $blue-moderate
    
    .title
      z-index: 10

  header, footer, #projects, #photography, #skills, #personal
    width: 100%
    border-bottom: 1px solid black
    box-shadow-bottom: 0 0 20px red
    box-shadow: 0 10px 12px rgba(0,0,0,0.5) inset, 0 -12px 12px rgba(200,200,200,0.18) inset, 0 0 300px rgba(0,0,0,1) inset
  //footer, #projects
    //box-shadow: 0 -12px 12px rgba(0,0,0,0.5) inset, 0 5px 12px rgba(200,200,200,0.18) inset
  //header
    //box-shadow: 0 -12px 12px rgba(0,0,0,0.5) inset, 0 5px 100px white inset
  header
    +wide-background('./img/bg-header.gif')
    background-position: 4px 0
    h1
      margin-top: 30px
    ol
      list-style-type: none
      vertical-align: bottom
      width: 898px
      margin-top: 47px
      margin-left: 30px
      background-color: rgba(255,255,255,0.3)
      li
        position: relative
        top: -14px
        padding-left: 15px
        line-height: 60px
        height: 60px
        //text-align: center
        //border: 1px solid red
      li:last-child
        height: 59px
      //li:first-child
        //height: 30px

  #projects
    +wide-background('./img/bg-body.gif')
    #tagline
      h1
        border-right: 2px dashed $white
        width: 450px
        letter-spacing: -3px
        padding-bottom: 5px
        float: left
      h3
        width: 350px
        float: left
        margin: 10px
        margin-top: 2px
  #skills
    +wide-background('./img/bg-noise.png')
  #personal
    +wide-background('./img/bg-personal.gif')
  #photography
    +wide-background('./img/bg-photography.jpg')
  footer
    +wide-background('./img/bg-footer.jpg')
    padding: 0
    section
      //padding: 10px
      +column(8)
      width: 309px
      border-right: 1px dashed $whiteish
    section.last
      +column(8, true)
      width: 309px
      border: 0
    //ul
      //height: 100px
      //text-align: justify
      //-moz-column-count: 3
      //-moz-column-width: 31%
      //-moz-column-gap: 2%
      //-moz-column-rule: 1px dashed #c4c8cc
      //-moz-column-count: 3
      //-webkit-column-width: 31%
      //-webkit-column-gap: 2%
    //-webkit-column-rule: 1px dashed #c4c8cc
