<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Welcome to Przemysław Hocke's Homepage
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/screen.css", :rel => "stylesheet", :media => "screen, projection"}/
    /[if lt IE 8 ]
      %link{:href => "css/ie.css", :rel => "stylesheet", :media => "screen, projection"}/

    %script{:src => "js/libs/modernizr-2.0.min.js"}
    %script{:src => "js/libs/respond.min.js"}
  %body
    %header
      .container
        %h1.dark.cursive.title Hello dear visitor!
        %ol
          %li Make yourself at home please.
          %li And tell me please what you're looking for?
          %li Would like like to know about <a href="#projects"><strong>amazing projects</strong></a> I did?
          %li Or maybe you'd rather read about <strong>my skills</strong>?
          %li <strong>My photos</strong> are here. We both know life is not all about coding...
    %section#projects
      .container

        %h1.title Few of the projects I've worked on:

        %dl
          %dt <a href="http://www.ekstraklasa.ifmsa.pl" target="_blank"><h2>Ekstraklasa IFMSA football league</h2></a>
          %dd Starting on your geeky road, at some point you need to decide whether you're going to be a designer or a coder. Until you make up your mind, it means you do the job both. Being a Linux supporter means you're not using photoshop, but GIMP. Also knowing only some basic HTML from your high school IT classes, means you need to learn jQuery and it's UI components. I love win-win situations - they have a working website(still the same one), and I've learned a LOT.
        %dl
          %dt <a href="http://www.marr.pl" target="_blank"><h2>MARR</h2></a>
          %dd The first commercial project I've worked on. Thanks for the chance. Great opportunity to slowly get to grips with back end development, which means Ruby on Rails. I loved it even more than jQuery ...
  
        %dl
          %dt <a href="http://www.lingapp.com" target="_blank"><h2>Lingapp.com</h2></a>
          %dd While working on konkursowisko.pl I was so eager to find some creative outlet that I've decided to actually solve some real world problem. Ever wondered what happens when you try to learn a new language? You'll probably need some interesting native texts, as well as a ton of flash cards, plus bulky dictionary, notepad and some other stuff. How about spaced repetition - it helps you to remember stuff better you know. Boys! we all know that having a girlfriend helps to motive you to do something that absolutely kickass. So after showing prototype to my boss, he decided that we're going to start working on in full time. Then after, a month came seed founding. And a big fish funding after 12 months. Yeah I'm really proud to be originator and (ex)lead developer of this project :)
        
        %dl
          %dt <a href="http://github.com/phocke/fix-the-world" target="_blank"><h2>Fix the world</h2></a>
          %dd What happens when two eager to learn web-geeks meet on the forum? That's right - they decide to collaborate on something as bleeding edge as possible. Which at that time meant - Rails 3.0.rc2, MongDB.rc, Devise.rc, Ruby 1.9.1(not so stable :P), rSpec-2.rc. Well I can tell you - you get into a lot of strange segfaults, plus a myriad of other cryptic errors. Lesson learned though - RC contrary to what you could reckon definitely doesn't equal to "rock solid", nor "bullet proof" .

        %dl
          %dt <a href="http://github.com/phocke/vim-files" target="_blank"><h2>vim files</h2></a>
          %dd After using textmate, gedit, redcar, netbeans, bluefish and nano you realize that each one of them has something cool that any of the others doesn't offer. So what would you do if you'd want all the cool features and then some in one place? That's right - you start using vim, then you find the coolest vim configuration on the earth, and then you add features to it, customize it, and even work on porting the coolest text editor theme you've ever seen(textmate's cobalt)
        
        %dl
          %dt <a href="http://github.com/phocke/vim-files" target="_blank"><h2>macVim files</h2></a>
          %dd So coming back to mac from linux you realize that textMate is not the ultimate text editor. But you like having native support for some extravagant functionalities like copying and pasting using only command + (v or c or x). What do you do in this case? Well ... you port and debug your old vimfiles :)
        
        %dl
          %dt <a href="http://phocke.pl" target="_blank"><h2>phocke.pl (old)</h2></a>
          %dd Being in need of some cool looking website for like yesterday means you skip all the chatter and you just find something that's cool and easy to set-up. For example creative commons personal website template. Although pink colour doesn't communicate professionalism all that well. So you change color scheme, populate the site with some real word data, and after two hours you're up and running. At least that's what you hope for. And you could be right, unless you decided to give a try to some hosting solutions which uses Jurassic period user interface. But anyway. It was fast enough

        %dl
          %dt <a href="http://web.3.0.phocke.pl" target="_blank"><h2>phocke.pl</h2></a>
          %dd So you've heard that Sinatra is what all the ruby cool kids are using at the moment. And coffee script. And backbone. And you have pleasant memories from using compass, blueprint and SASS. So you come up with a new project. But not to big, as you're busy as hell with other stuff. Brave new world welcome to so to say. And also, you really enjoy doing some design work from time to time... So 2 weeks to get to know all of the coolest developments from last few months? You've  guessed - that's perfect opportunity to write your new personal website again ...

        %dl
          %dt <a href="http://facebook.com/amnestyUK" target="_blank"><h2>Amnesty interational UK</h2></a>(with new-bamboo)
          %dd Just a quick few days project for Amnesty International UK. I really like the designs

        %dl
          %dt <a href="http://holiday-extras.co.uk" target="_blank"><h2>Holiday extras</h2></a>(with new-bamboo)
          %dd rails 3.1 backbone, coffee script and that cool jazz. In a production website. Way before any other company would decide to use this tools. But that why we are proud to claim the title of Bambinos! One of the fastest paced projects I've participated in. Due to great team, and due to great tools. And due to tight deadline as well. Really, really enjoyed this one!

        %dl
          %dt <a href="http://protectthehuman.org" target="_blank"><h2>Protect the human</h2></a>(with new-bamboo)
          %dd Lots of traffic, nice people, word changing stuff. The only missing ingredient is beautiful codebase. One of the most legacy projects I've ever worked on. Helped with developing my patience ;)  

    %section#skills
      .container
        %h1.dark.title My skills and how I rate them:
        %dl
          %dt
            %h3.dark Ruby
          %dd.four

          %dt
            %h3.dark Ruby on Rails
          %dd.five

          %dt
            %h3.dark HTML5 (also semantic HTML)
          %dd.five

          %dt
            %h3.dark CSS3 (also cutting PSD templates)
          %dd.five

          %dt
            %h3.dark SQL
          %dd.three

          %dt
            %h3.dark Javascript
          %dd.three

          %dt
            %h3.dark jQuery + UI
          %dd.four

          %dt
            %h3.dark Prototype + scrip.taculo.us
          %dd.three

          %dt
            %h3.dark Command line
          %dd.five
            
          %dt
            %h3.dark HAML SASS SCSS
          %dd.five
            
          %dt
            %h3.dark Coffee scipt
          %dd.three
            
          %dt
            %h3.dark Linux / Unix fu 
          %dd.four
            
          %dt
            %h3.dark Server administration
          %dd.three
            
          %dt 
            %h3.dark Amazon web services
          %dd.three
          



    %section#achievements
      .container
        %h1.dark.title My greatest achievements:

        %h2.pink Body makeover
        %h2.pink Coming up with idea and working on lingapp.com
        %h2.pink Getting hired by new bamboo
        %h2.pink Finishing 15k run
        %h2.pink Self thought programmer
        %h2.pink Driving license
        %h2.pink First aid certificate

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')
    %script{:src => "js/plugins.js"}
    %script{:src => "js/script.js"}
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    /[if lt IE 7 ]
      :plain
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
