<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Welcome to Przemysław Hocke's Homepage
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/screen.css", :rel => "stylesheet", :media => "screen, projection"}/
    %link{:href => "/css/print.css", :rel => "stylesheet", :media => "print"}/
    %link{:href => "/css/nivo-theme/default.css", :rel => "stylesheet"}/
    %link{:href => "/css/nivo-slider.css", :rel => "stylesheet"}/
    /[if lt IE 8 ]
      %link{:href => "css/ie.css", :rel => "stylesheet", :media => "screen, projection"}/

    %script{:src => "js/libs/modernizr-2.0.min.js"}
    %script{:src => "js/libs/respond.min.js"}
  %body
    %header
      .container
        %h1.dark.cursive.title Hello dear visitor!
        %ol{}
          %li Make yourself at home plase.
          %li And tell me plase what you're looking for?
          %li Would like like to know about <a href="#projects"><strong>amazing projects</strong></a> I did?
          %li Or maybe you'd rather read about <strong>my skills</strong>?
          %li <strong>My photos</strong> are here. We both know life is not all about coding...
    %section#projects
      .container
        
        -#%h1.title Some Simple Text To say what this sectin is all about
        %section#tagline
          %h1 Przemek Hocke
          %h3 Ruby on Rails developer
          %h3 All around web geek
        
        %h1 below you can can some info about projects I've participated in
        %dl
          %dt <a href="http://www.ekstraklasa.ifmsa.pl"><h2>Ekstraklasa IFMSA football leage</h2></a>
          %dd Starting on your geeky road, at some point you need to decide wheather you're going to be a designer or a coder. Until you 'll make up your mind it meas you do both tasks. Being a Linux supporter means you're not using photoshop, but GIMP. Also knowing only some basic HTML from your high school IT classes means you need to learn jQuery and it's UI components. I love win-win situations - they have a working website(still the same one), and I've learned a LOT.
        %dl
          %dt <a href="http://www.marr.pl"><h2>MARR</h2></a>
          %dd The first commercial project I've worked on. Thank's for the chance. Great opportunity to slowly get to grips with back end developemtent, which means Ruby on Rails. I loved it even more than jQuery ...
        %dl
          %dt <a href="#">Plan Iron (dead)</a>
          %dd One of the best designs I've seen so far. Comming from the hands of the best designer I personally know, what else could I expect ;). I've leared what a great team means :)
        %dl
          %dt <a href="http://www.konkursowisko.pl"><h2>Konkursowisko.pl</h2></a>
          %dd This project showed me what does a terrible code base mean. No tests, no documentation, no chance to contact with previos developers. And also - no source code control tools like almighty Git or good ol' SVN. But you know how the story goes - when you hit rock bottom, the only way to go is up ... ;)
        %dl
          %dt <a href="http://www.lingapp.com"><h2>Lingapp.com</h2></a>
          %dd While working on konkursowisko.pl I was so eager to find some cretive outlet that I've decied to actually solve some real world problem. Ever wonderd what happens when you try to learn a new languge? You'll probably need some interesing native texts, as well as a ton of flash cards, plus bulky dictionary, notepad and some other stuff. How about spaced repetition - it helps you to remember stuff better you know. Boys! we all know that having a girlfrined helps to motive you to do something that absoulutely kickass. So after showing prototype to my boss, he decided that we're going to start working on in full time. Then after, a month came seed founding. And a big fish funding after 12 months. Yeah I'm really proud to be originator and (ex)lead developer of this project :)
        %dl
          %dt <a href="http://github.com/phocke/fix-the-world"><h2>Fix the world</h2></a>
          %dd What happens when two eager to learn web-geek meet on the forum? That's right - they decide to calloborate on something as bleeding edge as possible. Which at that time meant - Rails 3.0.rc2, MongDB.rc, Devise.rc, Ruby 1.9.1(not so stable :P), rSpec 2.rc. Well I can tell you - you get into a lot of strange segfaults, plus a myriad of other cryptic errors. Lesson learned though - RC contrary to what you could recon definetely doesn't equal to "rock solid", nor "bulletproof".
        %dl
          %dt <a href="http://github.com/phocke/vim-files"><h2>vim files</h2></a>
          %dd After using textmate, gedit, redcar, netbeans, bluefish and nano you realize that each one of them has something cool that any of the others doesn't offer. So what would you do if you'd want all the cool features and then some in one place? That's right - you start using vim, then you find the coolest vim configuration on the earth, and then you add features to it, customize it, and even work on porting the coolest text editor theme you've ever seen(textmate's cobalt)
        %dl
          %dt <a href="http://github.com/phocke/vim-files"><h2>macVim files</h2></a>
          %dd So coming back to mac from linux you realize that textMate is not the ultimate text editor. But you like having native support for some exravagant functionalities like copying and pasting using only command + (v or c or x). What do you do in this case? Well ... you port and debug your old vimfiles :)
        %dl
          %dt <a href="http://phocke.pl"><h2>phocke.pl</h2></a>
          %dd Being in need of some cool looking website for like yesterday means you skip all the chatter and you just find something that's cool and easy to setup. For example creative commons personal website template. Altought pink color doesn't communicate professionalism all that well. So you change color scheme, populate the site with some real word data, and after two hours you're up and running. At least that's what you hope for. And you could be right, unless you decied to give a try to some hosting solutions which uses jurassic period user interface. But anyways. It was fast enough
        %dl
          %dt <a href="http://web.3.0.phocke.pl"><h2>phocke.pl</h2></a>
          %dd So you've heard that Sinatra is what all the ruby cool kids are using at the moment. And coffee script. And backbone. And you have pleasant memories from using compass, blueprint and sass. So you come up with a new project. But not to big, as you're busy as hell with other stuff. Brave new world welcome to so to say. And also, you really enjoy doing some design work from time to time... So 2 weeks to get to know all of the cooles developments from last few months? You've  guessed - that's perfect opportunity to write your new personal website again ...
        %dl
          %dt <a href="http://brytyjskie-herbaty.pl"><h2>Brytyjskie Herbaty</h2></a>
          %dd As a tea lover, after spending few months in the UK, and coming back to Poland to spend some time with your friends and family, you really start to miss the range of tea's you can choose from in local markets. So what can you do to avoid this pain in the future? Ok I'll tell you - you create a webshop using SPREE, dotpay.pl API. Then you find some nice hosting solution, and you start importing tea from UK to Poland. Simple as that.
        %dl
          %dt <a href="http://venue-line.com"><h2>Venue line</h2></a>
          %dd What happens when 3 young entusiastic web-lovers meet do to something cool and profitable? They create ass-kicking, eye licking, profitable websitem that makes life of many busy people a lot easier. From now on I can call myslef startup renegade, or fugitive. Or just a double startup founder. One more time and I'll entitle myslef as a serial startup cofounder ;)
        %dl
          %dt <a href="http://facebook.com/amnestyUK"><h2>Amnesty interational UK</h2></a>(with new-bamboo)
          %dd Just a quick few days project for Amnesty International UK. I really like the designs
        %dl
          %dt <a href="http://holiday-extras.co.uk"><h2>Holiday extras</h2></a>(with new-bamboo)
          %dd rails 3.1 backbone, coffee script and that cool jazz. In a production website. Way before any other company would decide to use this tools. But that why we are proud to claim the title of Bambinos! One of the fastest paced projects I've participated in. Due to great team, and due to great tools. And due to tight deadline as well. Really, really enjoyed this one!
        %dl
          %dt <a href="http://holiday-extras.co.uk"><h2>Holiday extras</h2></a>(with new-bamboo)
          %dd rails 3.1 backbone, coffee script and that cool jazz. In a production website. Way before any other company would decide to use this tools. But that why we are proud to claim the title of Bambinos! One of the fastest paced projects I've participated in. Due to great team, and due to great tools. And due to tight deadline as well. Really, really enjoyed this one!


        -#%h2 Lorem Ipsum Solor Dit
        -#%h3 Gazeta wyborcza opublikowala
        -#%h1.cursive Some Simple Text
        -#%h2.cursive Lorem Ipsum Solor Dit
        -#%h3.cursive Gazeta wyborcza opublikowala
        -#%h1.bold Some Simple Text
        -#%h2.bold Lorem Ipsum Solor Dit
        -#%h3.bold Gazeta wyborcza opublikowala
        -#%h1.hand Some Simple Text
        -#%h2.hand Lorem Ipsum Solor Dit
        -#%h3.hand Gazeta wyborcza opublikowala
        .slider-wrapper.theme-default
          .ribbon
          #slider.nivoSlider
            %img{:src => "img/toystory.jpg", :alt => ""}/
            %a{:href => "http://dev7studios.com"}
              %img{ :src => "img/up.jpg", :alt => "", :title => "this is example of caption"}/
            %img{ :src => "img/walle.jpg", :alt => ""}/
            %img{ :src => "img/nemo.jpg", :alt => "#htmlcaption"}/
            #htmlcaption.nivo-html-caption <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
    %section#skills
      .container
        %h1.dark.title Some Simple Text To say what this sectin is all about
        %a.button{:href => "#"} super button
        %h1.dark Some Simple Text
        %h2.dark Lorem Ipsum Solor Dit
        %h3.dark Gazeta wyborcza opublikowala
        %h1.dark.cursive Some Simple Text
        %h2.dark.cursive Lorem Ipsum Solor Dit
        %h3.dark.cursive Gazeta wyborcza opublikowala
        %h1.dark.bold Some Simple Text
        %h2.dark.bold Lorem Ipsum Solor Dit
        %h3.dark.bold Gazeta wyborcza opublikowala
        %h1.dark.hand Some Simple Text
        %h2.dark.hand Lorem Ipsum Solor Dit
        %h3.dark.hand Gazeta wyborcza opublikowala
    %section#personal
      .container
        %h1.pink.title Some Simple Text To say what this sectin is all about
        %h2.pink Lorem Ipsum Solor Dit
        %h3.pink Gazeta wyborcza opublikowala
        %h1.pink.cursive Some Simple Text
        %h2.pink.cursive Lorem Ipsum Solor Dit
        %h3.pink.cursive Gazeta wyborcza opublikowala
        %h1.pink.bold Some Simple Text
        %h2.pink.bold Lorem Ipsum Solor Dit
        %h3.pink.bold Gazeta wyborcza opublikowala
        %h1.pink.hand Some Simple Text
        %h2.pink.hand Lorem Ipsum Solor Dit
        %h3.pink.hand Gazeta wyborcza opublikowala
    %section#photography
      .container
        %h1.pink Some Simple Text
        %h2.pink Lorem Ipsum Solor Dit
        %h3.pink Gazeta wyborcza opublikowala
        %h1.pink.cursive Some Simple Text
        %h2.pink.cursive Lorem Ipsum Solor Dit
        %h3.pink.cursive Gazeta wyborcza opublikowala
        %h1.pink.bold Some Simple Text
        %h2.pink.bold Lorem Ipsum Solor Dit
        %h3.pink.bold Gazeta wyborcza opublikowala
        %h1.pink.hand Some Simple Text
        %h2.pink.hand Lorem Ipsum Solor Dit
        %h3.pink.hand Gazeta wyborcza opublikowala
    %footer#footer
      .container
        %h1 Some Simple Text
        %h2 Lorem Ipsum Solor Dit
        %h3 Gazeta wyborcza opublikowala
        %h1.cursive Some Simple Text
        %h2.cursive Lorem Ipsum Solor Dit
        %h3.cursive Gazeta wyborcza opublikowala
        %h1.bold Some Simple Text
        %h2.bold Lorem Ipsum Solor Dit
        %h3.bold Gazeta wyborcza opublikowala
        %h1.hand Some Simple Text
        %h2.hand Lorem Ipsum Solor Dit
        %h3.hand Gazeta wyborcza opublikowala
        %section
          Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        %section
          Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        %section.last
          %form.bp{:method=>'post', :action=>'send-email'}
            %label{:for => 'sender-name'}
            %input#sender-name{:type => 'text', :placeholder => 'Hi! Nice to meet you', :name => 'sender-name'}/
            %label{:for => 'sender-email'}
            %input#sender-email{:type => 'text', :placeholder => "What's your email address", :name => 'sender-email'}/
            %label{:for => 'sender-message'}
            %textarea#sender-message{:type => 'text', :rows => '10', :cols => '40', :placeholder => 'Hi! Nice to meet you', :name => 'sender-message'}
            %label{:for => 'sender-message'}
            %input{:type => 'submit', :value => 'send'}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')
    %script{:src => "js/plugins.js"}
    %script{:src => "js/script.js"}
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    /[if lt IE 7 ]
      :plain
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
