<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Welcome to Przemysław Hocke's Homepage
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/screen.css", :rel => "stylesheet", :media => "screen, projection"}/
    /[if lt IE 8 ]
      %link{:href => "css/ie.css", :rel => "stylesheet", :media => "screen, projection"}/

    %script{:src => "js/libs/modernizr-2.0.min.js"}
    %script{:src => "js/libs/respond.min.js"}
  %body
    %header
      .container
        %img#face{:src => 'img/przemek-hocke.png'}
        %h1.dark.cursive.title Hello dear visitor!
        %ol
          %li Tell me please what you're looking for?
          %li Would like like to read about <a href="#projects"><strong>amazing projects</strong></a> I did?
          %li Or maybe you'd rather check <a href="#skills"><strong>my skills</strong></a>?
          %li Also few words about <a href="#achievements"><strong>my greatest achievements</strong></a>.
          %li And a few ways <a href="#footer"><strong>to get in touch</strong></a> quickly.
    
    %section#projects
      .container

        %h1.title Few of the projects I've worked on:

        .accordion
          %h2 Protect the human (Amnesty International)
          .description Lots of traffic, nice people, world changing stuff. The only missing ingredient is beautiful codebase. One of the most legacy projects I've ever worked on. Helped with developing my patience ;) <br /><a href="http://protectthehuman.com" target="_blank">Protect the human</a> 

          %h2 Amnesty international UK
          .description Just a quick few days long project for Amnesty International UK. I really like the designs. <br /><a href="http://facebook.com/amnestyUK" target="_blank">Amnesty International UK</a>

          %h2 Lingapp.com
          .description While working on konkursowisko.pl I was so eager to find some creative outlet that I've decided to actually solve some real world problem. Ever wondered what happens when you try to learn a new language? You'll probably need some interesting native texts, as well as a ton of flash cards, plus bulky dictionary, notepad and some other stuff. How about spaced repetition - it helps you to remember stuff better you know. Boys! we all know that having a girlfriend helps to motive you to do something that absolutely kickass. So after showing prototype to my boss, he decided that we're going to start working on in full time. Then after, a month came seed founding. And a big fish funding after 12 months. Yeah I'm really proud to be originator and (ex)lead developer of this project :) <br /><a href="http://www.lingapp.com" target="_blank">Lingapp.com</a>

          %h2 Ekstraklasa IFMSA football league
          .description Starting on your geeky road, at some point you need to decide whether you're going to be a designer or a coder. Until you make up your mind, it means you do the job both. Being a Linux supporter means you're not using photoshop, but GIMP. Also knowing only some basic HTML from your high school IT classes, means you need to learn jQuery and it's UI components. I love win-win situations - they have a working website(still the same one), and I've learned a LOT. <br /><a href="http://www.ekstraklasaifmsa.c0.pl" target="_blank">Ekstraklasa IFMSA football league</a>

          %h2 MARR
          .description The first commercial project I've worked on. Thanks for the chance. Great opportunity to slowly get to grips with back end development, which means Ruby on Rails. I loved it even more than jQuery ... <br /><a href="http://www.marr.pl" target="_blank">MARR</a>

          %h2 Fix the world
          .description What happens when two eager to learn web-geeks meet on the forum? That's right - they decide to collaborate on something as bleeding edge as possible. Which at that time meant - Rails 3.0.rc2, MongDB.rc, Devise.rc, Ruby 1.9.1(not so stable :P), rSpec-2.rc. Well I can tell you - you get into a lot of strange segfaults, plus a myriad of other cryptic errors. Lesson learned though - RC contrary to what you could reckon definitely doesn't equal to "rock solid", nor "bullet proof". <br /><a href="http://github.com/phocke/fix-the-world" target="_blank">Fix the world</a>

          %h2 Vim files
          .description After using textmate, gedit, redcar, netbeans, bluefish and nano you realize that each one of them can do some nice things that none of the others can. So what would you do if you'd want all the cool features and then some in one place? That's right - you'd start using vim, then you'd find the coolest vim configuration on the earth, and then you'd add more features to it, customize it, and even work on porting the coolest text editor theme you've ever seen(textmate's cobalt). <br /><a href="https://github.com/phocke/vim2" target="_blank">Vim files</a>
        
          %h2 MacVim files
          .description So coming back to mac from linux you realize that textMate is not the ultimate text editor. But you like having native support for some extravagant functionalities like copying and pasting using only command + (v or c or x). What do you do in this case? Well ... you port and debug your old vimfiles. <br /><a href="https://github.com/phocke/macVimFiles" target="_blank">MacVim files</a>
        
          %h2 Phocke.pl (old)
          .description Being in need of some cool looking website for like yesterday means you skip all the chatter and you just find something that's cool and easy to set-up. For example creative commons personal website template. Although pink colour doesn't communicate professionalism all that well. So you change color scheme, populate the site with some real word data, and after two hours you're up and running. At least that's what you hope for. And you could be right, unless you decided to give a try to some hosting solutions from hell. But anyway - it was fast enough. <br /><a href="http://phocke.pl" target="_blank">Phocke.pl (old)</a>

          %h2 Phocke.pl
          .description So you've heard that Sinatra is what all the ruby cool kids are using at the moment. And coffee script. And backbone. And you have pleasant memories from using compass, blueprint and SASS. So you come up with a new project. But not to big, as you're busy as hell with other stuff. Brave new world welcome to so to say. And also, you really enjoy doing some design work from time to time... So 2 weeks to get to know all of the coolest developments from last few months? You've  guessed - that's perfect opportunity to write your new personal website again. <br /><a href="http://smooth-wind-6141.heroku.com/" target="_blank">Phocke.pl</a>

          %h2 Holiday extras
          .description rails 3.1 backbone, coffee script and that cool jazz. In a production website. Way before any other company would decide to use this tools. But that why we are proud to claim the title of Bambinos! One of the fastest paced projects I've participated in. Due to great team, and due to great tools. And due to tight deadline as well. Really, really enjoyed this one! This links to their current website, final version is not yet released<br /><a href="http://holiday-extras.com" target="_blank">Holiday extras</a> 



    %section#skills
      .container
        %h1.dark.cursive My skills and how do I rate them:
        
        #legend
          -(1..9).each do |rating|
            %div{:class => "karate_#{rating}"}=rating
          #explaination Inspired by karate belts

        %ul#skills-list
          - YAML::load( File.open 'data/skills.yml' ).each do |skill, rating|
            %li{:class => "karate_#{rating}" }= skill.gsub(' ', '&nbsp;')

    %section#achievements
      .container
        %h1.dark.title My greatest achievements:
        
        .accordion
          %h2.pink Body makeover
          .description <a href="http://phocke.tumblr.com/" target="_blank">Click this link and look at the bottom of the page</a>
          %h2.pink Coming up with idea and working on lingapp.com
          .description It was fun, it was interesting and I've learned a lot <a href="http://lingapp.com/" target="_blank">Lingapp.com</a>
          %h2.pink Getting hired by new bamboo
          .description Fun, inseresting, engaging projects and super cool people. What else do you need? :) <a href="http://new-bamboo.co.uk/" target="_blank">New bamboo</a>
          %h2.pink Finishing 15k run
          .description On the other hand I just realized how long time ago it happend. Good times ... <a href="http://www.kwietnybieg.pl/bgp/wyniki.php?id_biegu=68" target="_blank">Hell yeah!</a>
          %h2.pink Self taught programmer
          .description  Back in highschool I really didn't like programming that much. <a href="https://github.com/phocke" target="_blank">My github</a>
          %h2.pink First aid certificate
          .description No links here. It happend back during my scout years. It took 3 days and pass rate was about 30%. I was really proud of myself!

    %footer#footer
      .container
        %h1 Ways to get in touch:
        #links
          %a{:href => 'mailto:phocke@gmail.com'} Email
          %a{:href => 'http://github.com/phocke'} GitHub
          %a{:href => 'http://phocke.tumblr.com/'} Tumblr



    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')
    %script{:src => "js/plugins.js"}
    %script{:src => "js/script.js"}
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    /[if lt IE 7 ]
      :plain
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
